@let userResource = _service.usersResource;
<app-table
  #userTable
  [resourceRef]="userResource.resource"
  [header]="tableHeader"
  [body]="tableBody"
  [(pageNumber)]="userResource.pageNumber"
  [(pageSize)]="userResource.pageSize">
  <ng-template #tableHeader>
    <tr uiTableHeader>
      <th
        scope="col"
        class="px-6 py-3"
        (click)="userResource.onSortChange('id')">
        <span class="flex flex-row">
          {{ 'misc.id' | translate }}
          @if (userResource.sortRequest()['id'] !== undefined) {
            @if (userResource.sortRequest()['id'] === true) {
              <ng-icon name="heroArrowSmallUp" />
            } @else {
              <ng-icon name="heroArrowSmallDown" />
            }
          }
        </span>
      </th>
      <th
        scope="col"
        class="px-6 py-3"
        (click)="userResource.onSortChange('createdAtUtc')">
        <span class="flex flex-row">
          {{ 'misc.createdAt' | translate }}
          @if (userResource.sortRequest()['createdAtUtc'] !== undefined) {
            @if (userResource.sortRequest()['createdAtUtc'] === true) {
              <ng-icon name="heroArrowSmallUp" />
            } @else {
              <ng-icon name="heroArrowSmallDown" />
            }
          }
        </span>
      </th>
      <th
        scope="col"
        class="px-6 py-6">
        {{ 'misc.actions' | translate }}
      </th>
    </tr>
  </ng-template>
  <ng-template
    #tableBody
    let-record>
    <tr uiTableBody>
      <td class="px-6 py-4 font-medium">
        {{ record.id }}
      </td>
      <td class="px-6 py-4">
        {{ record.createdAtUtc | localizedDate }}
      </td>
      <td class="px-6 py-4">
        <button
          uiButton
          [ngpMenuTrigger]="userActionsDropdown">
          <span class="sr-only">Actions menu toggle</span>
          <ng-icon name="heroEllipsisVertical" />
        </button>
        <ng-template #userActionsDropdown>
          <ui-menu>
            <button
              uiMenuItem
              color="failure"
              (click)="_service.deleteUser(record.id)"
              [disabled]="_authService.isAdmin() === false">
              <ng-icon name="heroTrash" />
              {{ 'misc.delete' | translate }}
            </button>
          </ui-menu>
        </ng-template>
      </td>
    </tr>
  </ng-template>
</app-table>
