@let userResource = _service.usersResource;
<shared-table
  #userTable
  [resourceRef]="userResource.resource"
  [header]="tableHeader"
  [body]="tableBody"
  [filterOption]="_service.userFilterOption"
  [(filters)]="userResource.filterRequest"
  [(pageNumber)]="userResource.pageNumber"
  [(pageSize)]="userResource.pageSize">
  <ng-template #tableHeader>
    <tr uiTableHeader>
      <th
        scope="col"
        class="hover:bg-secondary cursor-pointer px-6 py-3 transition-colors duration-150 ease-in-out"
        (click)="userResource.onSortChange('id')">
        <span class="flex flex-row">
          {{ 'object.minimal_user_response.id' | translate }}
          @if (userResource.sortRequest().id !== undefined) {
            @if (userResource.sortRequest().id === true) {
              <ng-icon name="heroArrowSmallUp" />
            } @else {
              <ng-icon name="heroArrowSmallDown" />
            }
          }
        </span>
      </th>
      <th
        scope="col"
        class="hover:bg-secondary cursor-pointer px-6 py-3 transition-colors duration-150 ease-in-out"
        (click)="userResource.onSortChange('createdAtUtc')">
        <span class="flex flex-row">
          {{ 'object.minimal_user_response.createdAtUtc' | translate }}
          @if (userResource.sortRequest().createdAtUtc !== undefined) {
            @if (userResource.sortRequest().createdAtUtc === true) {
              <ng-icon name="heroArrowSmallUp" />
            } @else {
              <ng-icon name="heroArrowSmallDown" />
            }
          }
        </span>
      </th>
      <th
        scope="col"
        class="hover:bg-secondary cursor-pointer px-6 py-3 transition-colors duration-150 ease-in-out"
        (click)="userResource.onSortChange('userName')">
        <span class="flex flex-row">
          {{ 'object.minimal_user_response.userName' | translate }}
          @if (userResource.sortRequest().userName !== undefined) {
            @if (userResource.sortRequest().userName === true) {
              <ng-icon name="heroArrowSmallUp" />
            } @else {
              <ng-icon name="heroArrowSmallDown" />
            }
          }
        </span>
      </th>
      <th
        scope="col"
        class="hover:bg-secondary cursor-pointer px-6 py-3 transition-colors duration-150 ease-in-out"
        (click)="userResource.onSortChange('email')">
        <span class="flex flex-row">
          {{ 'object.minimal_user_response.email' | translate }}
          @if (userResource.sortRequest().email !== undefined) {
            @if (userResource.sortRequest().email === true) {
              <ng-icon name="heroArrowSmallUp" />
            } @else {
              <ng-icon name="heroArrowSmallDown" />
            }
          }
        </span>
      </th>
      <th
        scope="col"
        class="px-6 py-6">
        {{ 'misc.actions' | translate }}
      </th>
    </tr>
  </ng-template>
  <ng-template
    #tableBody
    let-record>
    <tr uiTableBody>
      <td class="px-6 py-4 font-medium">
        {{ record.id }}
      </td>
      <td class="px-6 py-4">
        {{ record.createdAtUtc | localizedDate }}
      </td>
      <td class="px-6 py-4">
        {{ record.userName }}
      </td>
      <td class="px-6 py-4">
        {{ record.email }}
      </td>
      <td class="px-6 py-4">
        <button
          uiButton
          [ngpMenuTrigger]="userActionsDropdown">
          <span class="sr-only">Actions menu toggle</span>
          <ng-icon name="heroEllipsisVertical" />
        </button>
        <ng-template #userActionsDropdown>
          <div
            ngpMenu
            uiMenu>
            <button
              ngpMenuItem
              uiMenuItem
              color="failure"
              (click)="_service.deleteUser(record.id)"
              [ngpMenuItemDisabled]="_authService.isAdmin() === false"
              [ngpTooltipTrigger]="needAdminTooltip"
              [ngpTooltipTriggerDisabled]="_authService.isAdmin()">
              <ng-icon name="heroTrash" />
              {{ 'misc.delete' | translate }}
            </button>
            <ng-template #needAdminTooltip>
              <div
                ngpTooltip
                uiTooltip>
                {{ 'tooltip.need_role.admin' | translate }}
                <div
                  ngpTooltipArrow
                  uiTooltipArrow></div>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </td>
    </tr>
  </ng-template>
</shared-table>
