@if (_service.userResource.isLoading()) {
<mgnp-loader />
} @else if (_service.userResource.error()) {
<div class="flex flex-col gap-2">
  <div class="flex flex-col gap-2">
    <div>
      <span class="font-semibold">{{ 'misc.error.name' | translate }}</span>
    </div>
    <span>{{ _service.userResource.error()?.name ?? '' }}</span>
  </div>
  <div class="flex flex-col gap-2">
    <div>
      <span class="font-semibold">{{ 'misc.error.message' | translate }}</span>
    </div>
    <span>{{ _service.userResource.error()?.message ?? '' }}</span>
  </div>
</div>
} @else {
<app-user-detail [user]="_service.userResource.value()!" />
}
