@let userResource = _service.usersResource;

@if (_service.canApplyGlobalFilter()) {
  <div class="mb-4 flex flex-row gap-2">
    <button
      ngpSwitch
      mgnpSwitch
      [(ngpSwitchChecked)]="_service.includeDeletedItems"
      [disabled]="userResource.resource.isLoading()"
      (click)="userResource.resource.reload()">
      <span
        ngpSwitchThumb
        mgnpSwitchThumb></span>
    </button>
    <span>{{ 'misc.deleted_items' | translate }}</span>
  </div>
}

<app-table
  #userTable
  [resourceRef]="userResource.resource"
  [header]="tableHeader"
  [body]="tableBody"
  [filterOption]="_service.userFilterOption"
  [(filters)]="userResource.filterRequest"
  [(pageNumber)]="userResource.pageNumber"
  [(pageSize)]="userResource.pageSize">
  <ng-template #tableHeader>
    <tr mgnpTableHeader>
      <th
        scope="col"
        class="hover:bg-ui-hover cursor-pointer"
        (click)="userResource.onSortChange('id')">
        <span class="flex flex-row">
          {{ 'object.minimal_user_response.id' | translate }}
          @if (userResource.sortRequest()['id'] !== undefined) {
            @if (userResource.sortRequest()['id'] === true) {
              <ng-icon name="heroArrowSmallUp" />
            } @else {
              <ng-icon name="heroArrowSmallDown" />
            }
          }
        </span>
      </th>
      <th
        scope="col"
        class="hover:bg-ui-hover cursor-pointer"
        (click)="userResource.onSortChange('createdAtUtc')">
        <span class="flex flex-row">
          {{ 'object.minimal_user_response.createdAtUtc' | translate }}
          @if (userResource.sortRequest()['createdAtUtc'] !== undefined) {
            @if (userResource.sortRequest()['createdAtUtc'] === true) {
              <ng-icon name="heroArrowSmallUp" />
            } @else {
              <ng-icon name="heroArrowSmallDown" />
            }
          }
        </span>
      </th>
      <th
        scope="col"
        class="hover:bg-ui-hover cursor-pointer"
        (click)="userResource.onSortChange('userName')">
        <span class="flex flex-row">
          {{ 'object.minimal_user_response.userName' | translate }}
          @if (userResource.sortRequest()['userName'] !== undefined) {
            @if (userResource.sortRequest()['userName'] === true) {
              <ng-icon name="heroArrowSmallUp" />
            } @else {
              <ng-icon name="heroArrowSmallDown" />
            }
          }
        </span>
      </th>
      <th
        scope="col"
        class="hover:bg-ui-hover cursor-pointer"
        (click)="userResource.onSortChange('email')">
        <span class="flex flex-row">
          {{ 'object.minimal_user_response.email' | translate }}
          @if (userResource.sortRequest()['email'] !== undefined) {
            @if (userResource.sortRequest()['email'] === true) {
              <ng-icon name="heroArrowSmallUp" />
            } @else {
              <ng-icon name="heroArrowSmallDown" />
            }
          }
        </span>
      </th>
      <th scope="col">{{ 'misc.actions' | translate }}</th>
    </tr>
  </ng-template>
  <ng-template
    #tableBody
    let-record>
    <tr
      mgnpTableBody
      [ngClass]="{
        'hover:bg-ui-hover': !record.isDeleted,
        'bg-danger/25 hover:bg-danger-hover/25': record.isDeleted,
      }">
      <td class="font-medium">{{ record.id }}</td>
      <td>{{ record.createdAtUtc | localizedDate }}</td>
      <td>{{ record.userName }}</td>
      <td>{{ record.email }}</td>
      <td>
        @if (!record.isDeleted) {
          <button
            mgnpButton
            [ngpMenuTrigger]="userActionsDropdown">
            <span class="sr-only">Actions menu toggle</span>
            <ng-icon name="heroEllipsisVertical" />
          </button>
          <ng-template #userActionsDropdown>
            <div
              ngpMenu
              mgnpMenu>
              <button
                ngpMenuItem
                mgnpMenuItem
                class="flex items-center gap-1"
                (click)="openUserDetail(record.id)">
                <ng-icon name="heroEye" />
                {{ 'misc.show' | translate }}
              </button>
              <button
                ngpMenuItem
                mgnpMenuItem
                color="failure"
                (click)="_service.deleteUser(record.id)"
                [ngpMenuItemDisabled]="!_service.canDelete()"
                [ngpTooltipTrigger]="needAdminTooltip"
                [ngpTooltipTriggerDisabled]="_service.canDelete()"
                class="flex items-center gap-1">
                <ng-icon name="heroTrash" />
                {{ 'misc.delete' | translate }}
              </button>
              <ng-template #needAdminTooltip>
                <div
                  ngpTooltip
                  mgnpTooltip>
                  {{ 'tooltip.need_role.admin' | translate }}
                  <div
                    ngpTooltipArrow
                    mgnpTooltipArrow></div>
                </div>
              </ng-template>
            </div>
          </ng-template>
        }
      </td>
    </tr>
  </ng-template>
</app-table>

<ng-template
  #userDetailDialog
  let-ctx>
  <div
    ngpDialogOverlay
    mgnpDialogOverlay
    mode="drawer"
    drawerPosition="end">
    <div
      ngpDialog
      mgnpDialog>
      <app-user-detail-page [id]="ctx.data.id" />
    </div>
  </div>
</ng-template>
