/* You can add global styles to this file, and also import other style files */
@import '../../../../libs/ui/src/theme/ngp_tw.css';

@font-face {
  font-family: inter;
  src: url('../fonts/inter.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  src: url('../fonts/roboto.ttf') format('truetype');
}

@theme {
  --default-font-family: 'roboto', 'inter';
}
